body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Starjedi';
  src: local('Starjedi'), url(./fonts/Starjedi.ttf) format('truetype');
}

@font-face {
  font-family: 'Starjhol';
  src: local('Starjhol'), url(./fonts/Starjhol.ttf) format('truetype');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}